<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sistema de Estoque</title>
</head>
<body class="p-4">
<div class="container">
    <h1>Sistema de Estoque</h1>
    <hr>
    <h2>Cliente salvo com sucesso!</h2>

    <div class="mb-3 mt-3 p-sm-1">
        <a class="btn btn-primary" th:action="@{/clientes/novo}" href="/clientes/novo" th:method="post">Voltar</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>